body{
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh !important;
    overflow-x: hidden;
    --main-bg-color: orange;
}

/* les header */

.header-1{
    background-color: var(--main-bg-color);
    height: 5vh;
    display: flex;
    width: 100%;
    margin: 0;
    position: relative;
    padding-left: 0px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.header-1 p{
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px 30px 10px 0px;
}

.bienvenue{
    color: black;
    font-size: 1.1em !important;
    font-weight: 500;
    vertical-align: baseline;
    display: flex;
}

.info{
    display: flex;
    justify-content: center;
    text-align: center;
    vertical-align: baseline;
    font-family: 'RocknRoll One', sans-serif;
}

.header-1 i{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 15px 5px 15px 5px;
}

.header-2{
    height: 120px;
    background-color: black;
    width: 100vw;
    margin: 0;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: relative;
}

.header-2 col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.header-2 h4{
    color: white;
    margin: 30px 0px 30px;
    float: left;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1.5px;
}

.logo{
    height: 100px;
    display: flex;
    float: right;
    position: relative;
}

.navbar{
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;

}

.navbar ul{
    display: flex;
    align-content: center;
    justify-content: center;
    float: right;
}

.navbar ul li{
    display: flex;
    margin: 30px 30px 25px 0px;
    font-family: 'Roboto Slab', serif;
}

.navbar a{
    text-decoration: none;
    color: var(--main-bg-color);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.titre-principal{
    margin-top: 20vh;
    text-align: center;
    position: relative;
    z-index: 9999;
}

.titre-principal p{
    font-size: 1.8em;
    color: white;
    margin: 25px;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 200px 0px 0px 10px;
    letter-spacing: 5px;
}

.titre-principal h1{
    font-size: 3.5em;
    margin: 80px 0px 30px 10px;
    color: white;
    font-weight: 600;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 2px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.slider{
    background-position: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    width: 100vw;
    position: absolute;
    box-sizing: border-box;
    background-image: url("../bg/bgimg.jpg");
    transition: 1s;

    animation-name: animate;
    animation-direction: normal;
    animation-duration: 60s;
    animation-fill-mode: none;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: initial;
}

@keyframes animate{
    0%{
        background-image: url("../bg/bgimg.jpg");
    }
    33%{
        background-image: url("../bg/bgimg1.jpg");
    }
    66%{
        background-image: url("../bg/bgimg2.jpg");
    }
}

.bg-imggg{
    position: absolute;
    background-size: cover;
    max-width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
}

/* the contact  */

.contenu{
    padding-top: 55vh;
    padding-bottom: 3vh;
    text-align: center;
    box-shadow: 0 4px 2px -2px rgb(184, 184, 184);
}

.contact{
    margin-top: 50vh;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
}

.contact p{
    font-size: 1.2em;
}

.contact h5{
    color: rgb(0, 89, 255);
}

/* the footer */

.footer-1{
    background-color: rgb(131, 128, 128);
    margin-top: 30px !important;
    background-image: url("../bg/pigeon.jpg");
    background-repeat: no-repeat;
    height: 43vh;
    background-size: cover;
    width: 100vw;
}

.footer-1 h1{
    padding-top: 100px;
    margin-left: 300px;
}

.me-contact{
    border-radius: 20px;
    padding: 10px;
    background-color: var(--main-bg-color);
    color: rgb(0, 0, 0);
    font-size: 1em;
    font-weight: 600;
    margin-top: 50px;
    margin-left: 460px;
}

.contenu-pigeon{
    height: 500px;
}

.footer-2{
    text-align: center;
    background-color: rgb(40,41,55);
    height: 300px;
}

.footer-2 h5{
    color: var(--main-bg-color);
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 10px;
}

.footer-2 li{
    text-decoration: none;
    list-style: none;
    color: rgb(202, 202, 202);
    text-align: center;
    margin: 5px;
}
